@font-face {
	font-family: 'S-CoreDream-4Regular';
	src: url("./3086d3b371b2d555.eot");
	src: local(※), url("./cd2c5d983e35230b.eot") format('embedded-opentype'),
	url("./4c545ef47d9bd4e1.woff2") format('woff2'),
	url("./40a14279801957ce.woff") format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}